/* Estilos generales para el cuerpo y HTML */
body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background-color: #000;
}

/* Contenedor principal */
.universe {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Animación de estrellas */
.stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><circle cx="8" cy="8" r="8" fill="%23fff"/></svg>');
    background-size: 2px 2px; /* Tamaño de los puntos de las estrellas */
    z-index: -1; /* Detrás de todos los elementos */
    animation: stars-animation 50s linear infinite; /* Animación de movimiento de estrellas */
}

/* Animación de movimiento de estrellas */
@keyframes stars-animation {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}

/* Contenedor de flores */
.flowers {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrar las flores */
}

/* Imágenes de flores animadas */
.flower {
    position: absolute;
    width: 100px; /* Tamaño de las flores */
    height: auto;
    animation: flower-animation 6s ease-in-out infinite alternate; /* Animación de oscilación de las flores */
}

/* Posición y animación de la primer flor */
.flower1 {
    top: 10%; /* Posición desde arriba */
    left: 20%; /* Posición desde la izquierda */
}

/* Posición y animación de la segunda flor */
.flower2 {
    top: 20%; /* Posición desde arriba */
    left: 70%; /* Posición desde la izquierda */
}

/* Animación de oscilación de las flores */
@keyframes flower-animation {
    from {
        transform: translateY(0) rotate(0);
    }
    to {
        transform: translateY(-20px) rotate(20deg);
    }
}

/* Corazón animado */
.heart {
    position: absolute;
    width: 50px; /* Tamaño del corazón */
    height: 50px;
    background-image: url('assets/heart.png'); /* Ruta de la imagen del corazón */
    background-size: cover; /* Ajustar tamaño de la imagen */
    animation: heart-animation 1s ease-in-out infinite alternate; /* Animación de salto del corazón */
    bottom: 20%; /* Posición desde abajo */
    left: 50%; /* Centrar horizontalmente */
    transform: translateX(-50%);
}

/* Animación de salto del corazón */
@keyframes heart-animation {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}

/* Mensaje centralizado */
.message {
    position: absolute;
    bottom: 10%; /* Posición desde abajo */
    left: 50%; /* Centrar horizontalmente */
    transform: translateX(-50%);
    color: #fff; /* Color del texto */
    font-size: 24px; /* Tamaño de fuente */
    font-family: Arial, sans-serif; /* Fuente del texto */
}


