
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
*{
    familia de fuentes: 'Poppins',cursiva;
}
cuerpo{
    color: azul;
    ancho: 100%;
    altura: 82vh;
    pantalla:flexible;
    flex-direccion: columna;
    alinear-elementos: centro;
    justificar-contenido: centro;
    color de fondo: negro;
    /* relleno superior: -30; */
}

.botones{
    relleno: 9px;
    radio del borde: 80px;
    color de fondo: transparente;
    borde: ninguno;
}

.botones a{
    color de fondo: #0a2be9;
    relleno: 9px;
    radio del borde: 80px;
    -radio del borde del webkit: 80px;
    -moz-border-radius: 80px;
    -ms-radio-del-borde: 80px;
    -o-radio-del-borde: 80px;

}

.botones a:focus{
    color de fondo: rgb(50, 194, 194);
}

.saludos{
    tamaño de fuente: 7rem;
    peso de la fuente: 900;
}
.saludos > span{
    animación: brillo 2,5 s entrada-salida infinita;
}
@keyframes brillan{
    0%, 100%{
        color: #fff;
        sombra de texto: 0 0 12px #39c6d6, 0 0 50px #39c6d6, 0 0 100px #39c6d6;
    }
    10%, 90%{
        color: #111;
        sombra de texto: ninguna;
    }
}
.saludos > span:nth-child(2){
    retraso de animación: .2s;
}
.saludos > span:nth-child(3){
    retraso de animación: .4s;
}
.saludos > span:nth-child(4){
    retraso de animación: .6s;
}
.saludos > span:nth-child(5){
    retraso de animación: .8s;
}
.saludos > span:nth-child(6){
    retraso de animación: 1s;
}

.descripción{
    tamaño de fuente: 1.5rem;
    margen inferior: 20px;
}

.botón a{
    decoración de texto: ninguna;
    tamaño de fuente: 1rem;
    color: #111;
}

@media pantalla y (ancho máximo: 574px){
    .saludos{
        bloqueo de pantalla;
        tamaño de fuente: 4rem;
        peso de la fuente: 800;
        alinear texto: centro;
    }
    .descripción{
        tamaño de fuente: 2rem;
    }
    
    .botón a{
        tamaño de fuente: 1rem;
    }
}